@model IEnumerable<SymphonyInstitute.Ltd.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<p class="pt-30">
    <button asp-action="Create" class="btn btn-outline-danger">Add Users</button>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            
           
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            
          
            
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info"asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger"asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
