@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SymphonyInstitute.Ltd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.css" />
    

    <link href="~/lib/DataTables/Buttons-2.1.1/css/buttons.bulma.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/vendors_css.css">
    <!-- Style-->
    <link rel="stylesheet" href="~/css/horizontal-menu.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/skin_color.css">



</head>

@if (_signInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
{
    <body class="layout-top-nav light-skin theme-primary fixed">

        <div class="wrapper">
            <div id="loader"></div>

            <header class="main-header">
                <div class="inside-header">
                    <div class="d-flex align-items-center logo-box justify-content-start">
                        <!-- Logo -->
                        <a href="index.html" class="logo">
                            <!-- logo-->
                            <div class="logo-lg">
                                <span class="light-logo"><img src="../images/logo-light-text.png" alt="logo"></span>
                                <span class="dark-logo"><img src="../images/logo-light-text.png" alt="logo"></span>
                            </div>
                        </a>
                    </div>
                    <!-- Header Navbar -->
                    <nav class="navbar navbar-static-top">
                        <!-- Sidebar toggle button-->
                        <div class="app-menu">
                            <ul class="header-megamenu nav">
                                <li class="btn-group nav-item d-none d-xl-inline-block">
                                    <a href="contact_app_chat.html" class="waves-effect waves-light nav-link svg-bt-icon btn-info-light" title="Chat">
                                        <i data-feather="message-circle"></i>
                                    </a>
                                </li>
                                <li class="btn-group nav-item d-none d-xl-inline-block">
                                    <a href="mailbox.html" class="waves-effect waves-light nav-link svg-bt-icon btn-danger-light" title="Mailbox">
                                        <i data-feather="at-sign"></i>
                                    </a>
                                </li>
                                <li class="btn-group nav-item d-none d-xl-inline-block">
                                    <a href="extra_taskboard.html" class="waves-effect waves-light nav-link svg-bt-icon btn-success-light" title="Taskboard">
                                        <i data-feather="clipboard"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="navbar-custom-menu r-side">
                            <ul class="nav navbar-nav">
                                <li class="btn-group d-lg-inline-flex d-none">
                                    <div class="app-menu">
                                        <div class="search-bx mx-5">
                                            <form>
                                                <div class="input-group">
                                                    <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                                                    <div class="input-group-append">
                                                        <button class="btn" type="submit" id="button-addon3"><i data-feather="search"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li class="btn-group nav-item d-lg-inline-flex d-none">
                                    <a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link full-screen btn-warning-light" title="Full Screen">
                                        <i data-feather="maximize"></i>
                                    </a>
                                </li>
                                <!-- Notifications -->
                                <li class="dropdown notifications-menu">
                                    <a href="#" class="waves-effect waves-light dropdown-toggle btn-info-light" data-bs-toggle="dropdown" title="Notifications">
                                        <i data-feather="bell"></i>
                                    </a>
                                    <ul class="dropdown-menu animated bounceIn">

                                        <li class="header">
                                            <div class="p-20">
                                                <div class="flexbox">
                                                    <div>
                                                        <h4 class="mb-0 mt-0">Notifications</h4>
                                                    </div>
                                                    <div>
                                                        <a href="#" class="text-danger">Clear All</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <!-- inner menu: contains the actual data -->
                                            <ul class="menu sm-scrol">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-users text-info"></i> Curabitur id eros quis nunc suscipit blandit.
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-warning text-warning"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-users text-danger"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-shopping-cart text-success"></i> In gravida mauris et nisi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-user text-danger"></i> Praesent eu lacus in libero dictum fermentum.
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-user text-primary"></i> Nunc fringilla lorem
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-user text-success"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="footer">
                                            <a href="#">View all</a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- User Account-->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="waves-effect waves-light dropdown-toggle btn-success-light" data-bs-toggle="dropdown" title="User">
                                        <i data-feather="user"></i>
                                    </a>
                                    <ul class="dropdown-menu animated flipInX">
                                        <li class="user-body">
                                            <a class="dropdown-item" href="#"><i class="ti-user text-muted me-2"></i> Profile</a>
                                            <a class="dropdown-item" href="#"><i class="ti-wallet text-muted me-2"></i> My Wallet</a>
                                            <a class="dropdown-item" href="#"><i class="ti-settings text-muted me-2"></i> Settings</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"asp-controller="Accounts" asp-action="Logout"><i class="ti-lock text-muted me-2" ></i> Logout</a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- Control Sidebar Toggle Button -->
                                <li>
                                    <a href="#" data-toggle="control-sidebar" title="Setting" class="waves-effect waves-light btn-danger-light">
                                        <i data-feather="settings"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </header>

            <nav class="main-nav" role="navigation">

                <!-- Mobile menu toggle button (hamburger/x icon) -->
                <input id="main-menu-state" type="checkbox" />
                <label class="main-menu-btn" for="main-menu-state">
                    <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                </label>

                <!-- Sample menu definition -->
                <ul id="main-menu" class="sm sm-blue">
                    <li><a href="index.html"><i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>Dashboard</a></li>
                    <li><a href="mailbox.html"><i class="icon-Incoming-mail"><span class="path1"></span><span class="path2"></span></i>Mailbox</a></li>
                    <li>
                        <a href="#"><i span class="icon-Layout-grid"><span class="path1"></span><span class="path2"></span></i>Apps</a>
                        <ul>
                            <li><a href="extra_calendar.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Calendar</a></li>
                            <li><a href="contact_app.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Contact List</a></li>
                            <li><a href="contact_app_chat.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Chat</a></li>
                            <li><a href="extra_taskboard.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Todo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-Chat-locked"><span class="path1"></span><span class="path2"></span></i>Login &amp; Error</a>
                        <ul>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Authentication</a>
                                <ul>
                                    <li><a href="auth_login.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Login</a></li>
                                    <li><a href="auth_register.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Register</a></li>
                                    <li><a href="auth_lockscreen.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Lockscreen</a></li>
                                    <li><a href="auth_user_pass.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Recover password</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Miscellaneous</a>
                                <ul>
                                    <li><a href="error_404.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Error 404</a></li>
                                    <li><a href="error_500.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Error 500</a></li>
                                    <li><a href="error_maintenance.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Maintenance</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-Write"><span class="path1"></span><span class="path2"></span></i>Ui Elements</a>
                        <ul>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Utilities</a>
                                <ul>
                                    <li><a href="ui_grid.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Grid System</a></li>
                                    <li><a href="ui_badges.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Badges</a></li>
                                    <li><a href="ui_border_utilities.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Border</a></li>
                                    <li><a href="ui_buttons.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Buttons</a></li>
                                    <li><a href="ui_color_utilities.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Color</a></li>
                                    <li><a href="ui_dropdown.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dropdown</a></li>
                                    <li><a href="ui_dropdown_grid.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dropdown Grid</a></li>
                                    <li><a href="ui_progress_bars.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Progress Bars</a></li>
                                    <li><a href="ui_ribbons.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Ribbons</a></li>
                                    <li><a href="ui_sliders.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Sliders</a></li>
                                    <li><a href="ui_typography.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Typography</a></li>
                                    <li><a href="ui_tab.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Tabs</a></li>
                                    <li><a href="ui_timeline.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Timeline</a></li>
                                    <li><a href="ui_timeline_horizontal.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Horizontal Timeline</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Card</a>
                                <ul>
                                    <li><a href="box_cards.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User Card</a></li>
                                    <li><a href="box_advanced.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Advanced Card</a></li>
                                    <li><a href="box_basic.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Basic Card</a></li>
                                    <li><a href="box_color.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Card Color</a></li>
                                    <li><a href="box_group.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Card Group</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Icons</a>
                                <ul>
                                    <li><a href="icons_fontawesome.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Font Awesome</a></li>
                                    <li><a href="icons_glyphicons.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Glyphicons</a></li>
                                    <li><a href="icons_material.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Material Icons</a></li>
                                    <li><a href="icons_themify.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Themify Icons</a></li>
                                    <li><a href="icons_simpleline.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Simple Line Icons</a></li>
                                    <li><a href="icons_cryptocoins.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Cryptocoins Icons</a></li>
                                    <li><a href="icons_flag.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Flag Icons</a></li>
                                    <li><a href="icons_weather.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Weather Icons</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Components</a>
                                <ul>
                                    <li><a href="component_bootstrap_switch.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bootstrap Switch</a></li>
                                    <li><a href="component_date_paginator.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Date Paginator</a></li>
                                    <li><a href="component_media_advanced.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Advanced Medias</a></li>
                                    <li><a href="component_rangeslider.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Range Slider</a></li>
                                    <li><a href="component_rating.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Ratings</a></li>
                                    <li><a href="component_animations.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Animations</a></li>
                                    <li><a href="extension_fullscreen.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Fullscreen</a></li>
                                    <li><a href="extension_pace.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Pace</a></li>
                                    <li><a href="component_nestable.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Nestable</a></li>
                                    <li><a href="component_portlet_draggable.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Draggable Portlets</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-Brush"><span class="path1"></span><span class="path2"></span></i>Forms & Table</a>
                        <ul>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Forms</a>
                                <ul>
                                    <li><a href="forms_advanced.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Elements</a></li>
                                    <li><a href="forms_general.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Layout</a></li>
                                    <li><a href="forms_wizard.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Wizard</a></li>
                                    <li><a href="forms_validation.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Validation</a></li>
                                    <li><a href="forms_mask.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Formatter</a></li>
                                    <li><a href="forms_xeditable.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Xeditable Editor</a></li>
                                    <li><a href="forms_dropzone.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dropzone</a></li>
                                    <li><a href="forms_code_editor.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Code Editor</a></li>
                                    <li><a href="forms_editors.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Editor</a></li>
                                    <li><a href="forms_editor_markdown.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Markdown</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Tables</a>
                                <ul>
                                    <li><a href="tables_simple.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Simple tables</a></li>
                                    <li><a href="tables_data.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Data tables</a></li>
                                    <li><a href="tables_editable.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Editable Tables</a></li>
                                    <li><a href="tables_color.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Table Color</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-Brush"><span class="path1"></span><span class="path2"></span></i>Charts</a>
                        <ul>
                            <li><a href="charts_chartjs.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>ChartJS</a></li>
                            <li><a href="charts_flot.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Flot</a></li>
                            <li><a href="charts_inline.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Inline charts</a></li>
                            <li><a href="charts_morris.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Morris</a></li>
                            <li><a href="charts_peity.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Peity</a></li>
                            <li><a href="charts_chartist.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Chartist</a></li>
                            <li><a href="charts_c3_axis.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Axis Chart</a></li>
                            <li><a href="charts_c3_bar.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bar Chart</a></li>
                            <li><a href="charts_c3_data.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Data Chart</a></li>
                            <li><a href="charts_c3_line.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Line Chart</a></li>
                            <li><a href="charts_echarts_basic.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Basic Charts</a></li>
                            <li><a href="charts_echarts_bar.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bar Chart</a></li>
                            <li><a href="charts_echarts_pie_doughnut.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Pie & Doughnut Chart</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-User"><span class="path1"></span><span class="path2"></span></i>User Pages</a>
                        <ul>
                            <li><a href="invoice.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Invoice</a></li>
                            <li><a href="invoicelist.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Invoice List</a></li>
                            <li><a href="extra_app_ticket.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Support Ticket</a></li>
                            <li><a href="extra_profile.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User Profile</a></li>
                            <li><a href="contact_userlist_grid.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Userlist Grid</a></li>
                            <li><a href="contact_userlist.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Userlist</a></li>
                            <li><a href="sample_faq.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>FAQs</a></li>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Extra Pages</a>
                                <ul>
                                    <li><a href="sample_blank.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Blank</a></li>
                                    <li><a href="sample_coming_soon.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Coming Soon</a></li>
                                    <li><a href="sample_custom_scroll.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Custom Scrolls</a></li>
                                    <li><a href="sample_gallery.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Gallery</a></li>
                                    <li><a href="sample_lightbox.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Lightbox Popup</a></li>
                                    <li><a href="sample_pricing.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Pricing</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-Library"><span class="path1"></span><span class="path2"></span></i>Widgets</a>
                        <ul>
                            <li><a href="widgets_blog.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Blog</a></li>
                            <li><a href="widgets_chart.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Chart</a></li>
                            <li><a href="widgets_list.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>List</a></li>
                            <li><a href="widgets_social.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Social</a></li>
                            <li><a href="widgets_statistic.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Statistic</a></li>
                            <li><a href="widgets_weather.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Weather</a></li>
                            <li><a href="widgets.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Widgets</a></li>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Modals</a>
                                <ul>
                                    <li><a href="component_modals.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Modals</a></li>
                                    <li><a href="component_sweatalert.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Sweet Alert</a></li>
                                    <li><a href="component_notification.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Toastr</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Maps</a>
                                <ul>
                                    <li><a href="map_google.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Google Map</a></li>
                                    <li><a href="map_vector.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Vector Map</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-Cart"><span class="path1"></span><span class="path2"></span></i>Ecommerce</a>
                        <ul>
                            <li><a href="ecommerce_products.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Products</a></li>
                            <li><a href="ecommerce_cart.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Products Cart</a></li>
                            <li><a href="ecommerce_products_edit.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Products Edit</a></li>
                            <li><a href="ecommerce_details.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Product Details</a></li>
                            <li><a href="ecommerce_orders.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Product Orders</a></li>
                            <li><a href="ecommerce_checkout.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Products Checkout</a></li>
                        </ul>
                    </li>
                    <li><a href="email_index.html"><i class="icon-Mail-notification"><span class="path1"></span><span class="path2"></span></i>Emails</a></li>
                </ul>
            </nav>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <div class="container-full">
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="box pull-up">
                                    <div class="box-body">
                                        <div class="text-center">
                                            <p class="mb-0">Sales</p>
                                            <h2 class="fs-40 fw-500 my-0 text-primary">$45.5k</h2>
                                            <p class="text-fade">($17.4k Last Year)</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-around">
                                            <div class="text-success">
                                                <i class="fa fa-arrow-up"></i> 142.11%
                                            </div>
                                            <div>
                                                <div id="chart-11" class="py-10"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="box pull-up">
                                    <div class="box-body">
                                        <div class="text-center">
                                            <p class="mb-0">Purchase</p>
                                            <h2 class="fs-40 fw-500 my-0 text-primary">$19.5k</h2>
                                            <p class="text-fade">($16.4k Last Year)</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-around">
                                            <div class="text-danger">
                                                <i class="fa fa-arrow-down"></i> 12.11%
                                            </div>
                                            <div>
                                                <div id="chart-12" class="py-10"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="box pull-up">
                                    <div class="box-body">
                                        <div class="text-center">
                                            <p class="mb-0">Return</p>
                                            <h2 class="fs-40 fw-500 my-0 text-primary">$450</h2>
                                            <p class="text-fade">($10.4k Last Year)</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-around">
                                            <div class="text-success">
                                                <i class="fa fa-arrow-up"></i> 42.11%
                                            </div>
                                            <div>
                                                <div id="chart-13" class="py-10"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="box pull-up">
                                    <div class="box-body">
                                        <div class="text-center">
                                            <p class="mb-0">Marketing</p>
                                            <h2 class="fs-40 fw-500 my-0 text-primary">$8.5k</h2>
                                            <p class="text-fade">($11.4k Last Year)</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-around">
                                            <div class="text-danger">
                                                <i class="fa fa-arrow-down"></i> 27.11%
                                            </div>
                                            <div>
                                                <div id="chart-14" class="py-10"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9 col-12">
                                <div class="box">
                                    <div class="row">
                                        <div class="col-lg-8 col-12 order-summary be-1">
                                            <div class="box no-shadow mb-0">
                                                <div class="box-header no-border">
                                                    <h4 class="box-title">Order Summary</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="chart">
                                                        <div id="yearly-comparison"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="box no-shadow mb-0">
                                                <div class="box-header">
                                                    <h4 class="box-title">Sales Overview</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="d-flex justify-content-between align-items-center mb-10">
                                                        <div>
                                                            <h5 class="mb-0">iPod</h5>
                                                            <small class="text-muted">25 min ago</small>
                                                        </div>
                                                        <div>
                                                            <h6 class="mb-0"><span class="text-success">+</span> $250</h6>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center mb-10">
                                                        <div>
                                                            <h5 class="mb-0">Mi Phone</h5>
                                                            <small class="text-muted">5 hour ago</small>
                                                        </div>
                                                        <div>
                                                            <h6 class="mb-0"><span class="text-danger">-</span> $589</h6>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <h5 class="mb-0">Mi TV</h5>
                                                            <small class="text-muted">3 day ago</small>
                                                        </div>
                                                        <div>
                                                            <h6 class="mb-0"><span class="text-success">+</span> $1292</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="box-footer">
                                                    <h4 class="mb-0">Total Sales</h4>
                                                    <p class="text-primary fs-18 fw-700">$8,459k</p>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                            <span class="sr-only">40% Complete (primary)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-12">
                                <div class="box bg-primary">
                                    <div class="box-body">
                                        <h5 class="mb-0">
                                            <span>Revenue</span>
                                            <span class="float-end"><a class="btn btn-rounded btn-white btn-outline" href="#">View</a></span>
                                        </h5>
                                        <br>
                                        <small>Weekly Revenue</small>
                                        <div class="d-flex justify-content-between">
                                            <p class="fs-26">$16k</p>
                                            <div><i class="ion-arrow-graph-down-right text-white me-1"></i> %41 down last year</div>
                                        </div>
                                    </div>
                                    <div class="box-body p-0">
                                        <div id="spark3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-12">
                                <div class="box">
                                    <div class="box-header no-border">
                                        <h4 class="box-title">Recent Stats</h4>
                                    </div>
                                    <div class="box-body">
                                        <div id="recent_trend"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="box">
                                    <div class="box-body pb-0">
                                        <h4 class="d-block mb-0">Production this Year </h4>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="fs-30 fw-500 text-dark">$25,32,240</div>
                                            <div class="fs-18 fw-500 text-success">
                                                <span>21.87%</span>
                                                <i class="mdi mdi-arrow-up text-success ms-5"></i>
                                            </div>
                                        </div>
                                        <div class="mt-20">
                                            <div id="chart-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box-body pb-0">
                                        <h4 class="d-block mb-0">Commission this Year </h4>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="fs-30 fw-500 text-dark">$4,82,045</div>
                                            <div class="fs-18 fw-500 text-success">
                                                <span>12.58%</span>
                                                <i class="mdi mdi-arrow-up text-success ms-5"></i>
                                            </div>
                                        </div>
                                        <div class="mt-20">
                                            <div id="chart-3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-12">
                                <div class="box">
                                    <div class="box-header no-border">
                                        <h4 class="box-title">Overview</h4>
                                        <ul class="box-controls pull-right">
                                            <li class="dropdown">
                                                <a data-bs-toggle="dropdown" href="#" class="btn btn-success-light px-10 base-font">Export</a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#"><i class="ti-import"></i> Import</a>
                                                    <a class="dropdown-item" href="#"><i class="ti-export"></i> Export</a>
                                                    <a class="dropdown-item" href="#"><i class="ti-printer"></i> Print</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-body">
                                        <div id="revenue9" class="text-dark"></div>
                                    </div>
                                    <div class="box-body">
                                        <div class="d-flex align-items-center mb-30">
                                            <div class="me-15 bg-lightest h-50 w-50 l-h-60 rounded100 text-center">
                                                <span class="icon-Library fs-24"><span class="path1"></span><span class="path2"></span></span>
                                            </div>
                                            <div class="d-flex flex-column fw-500">
                                                <a href="#" class="text-dark hover-primary mb-1 fs-16">Project Briefing</a>
                                                <span class="text-fade">Project Manager</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-30">
                                            <div class="me-15 bg-lightest h-50 w-50 l-h-60 rounded100 text-center">
                                                <span class="icon-Write fs-24"><span class="path1"></span><span class="path2"></span></span>
                                            </div>
                                            <div class="d-flex flex-column fw-500">
                                                <a href="#" class="text-dark hover-danger mb-1 fs-16">Concept Design</a>
                                                <span class="text-fade">Art Director</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="me-15 bg-lightest h-50 w-50 l-h-60 rounded100 text-center">
                                                <span class="icon-Group-chat fs-24"><span class="path1"></span><span class="path2"></span></span>
                                            </div>
                                            <div class="d-flex flex-column fw-500">
                                                <a href="#" class="text-dark hover-success mb-1 fs-16">Functional Logics</a>
                                                <span class="text-fade">Lead Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Trending Items
                                            <small class="subtitle">More than 400+ new members</small>
                                        </h4>
                                    </div>
                                    <div class="box-body p-0">
                                        <div class="table-responsive">
                                            <table class="table no-border table-vertical-center">
                                                <thead>
                                                    <tr>
                                                        <th class="p-0" style="width: 50px"></th>
                                                        <th class="p-0" style="min-width: 150px"></th>
                                                        <th class="p-0" style="min-width: 140px"></th>
                                                        <th class="p-0" style="min-width: 120px"></th>
                                                        <th class="p-0" style="min-width: 40px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="bg-lightest h-50 w-50 l-h-50 rounded text-center">
                                                                <img src="http://maximum-admin-templates.multipurposethemes.com/admin-templates/bootstrap-5/images/svg-icon/color-svg/001-glass.svg" class="h-30" alt="">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="#" class="text-dark fw-600 hover-primary fs-16">Vivamus consectetur</a>
                                                            <span class="text-fade d-block">Pharetra, Nulla , Nec, Aliquet</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="text-fade">
                                                                Lacus lacinia mollis
                                                            </span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="badge badge-primary-light">Approved</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="#" class="btn btn-info-light btn-sm"><span class="icon-Arrow-right fs-18"><span class="path1"></span><span class="path2"></span></span></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="bg-lightest h-50 w-50 l-h-50 rounded text-center">
                                                                <img src="http://maximum-admin-templates.multipurposethemes.com/admin-templates/bootstrap-5/images/svg-icon/color-svg/002-google.svg" class="h-30" alt="">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="#" class="text-dark fw-600 hover-primary fs-16">Phasellus venenatis nisi</a>
                                                            <span class="text-fade d-block">Pharetra, Nulla , Nec, Aliquet</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="text-fade">
                                                                Lacus lacinia mollis
                                                            </span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="badge badge-warning-light">In Progress</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="#" class="btn btn-info-light btn-sm"><span class="icon-Arrow-right fs-18"><span class="path1"></span><span class="path2"></span></span></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="bg-lightest h-50 w-50 l-h-50 rounded text-center">
                                                                <img src="http://maximum-admin-templates.multipurposethemes.com/admin-templates/bootstrap-5/images/svg-icon/color-svg/003-settings.svg" class="h-30" alt="">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="#" class="text-dark fw-600 hover-primary fs-16">Aliquam in magna</a>
                                                            <span class="text-fade d-block">Pharetra, Nulla , Nec, Aliquet</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="text-fade">
                                                                Lacus lacinia mollis
                                                            </span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="badge badge-success-light">Success</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="#" class="btn btn-info-light btn-sm"><span class="icon-Arrow-right fs-18"><span class="path1"></span><span class="path2"></span></span></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="bg-lightest h-50 w-50 l-h-50 rounded text-center">
                                                                <img src="http://maximum-admin-templates.multipurposethemes.com/admin-templates/bootstrap-5/images/svg-icon/color-svg/006-pottery.svg" class="h-30" alt="">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="#" class="text-dark fw-600 hover-primary fs-16">Duis faucibus lorem</a>
                                                            <span class="text-fade d-block">Pharetra, Nulla , Nec, Aliquet</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="text-fade">
                                                                Lacus lacinia mollis
                                                            </span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="badge badge-danger-light">Rejected</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="#" class="btn btn-info-light btn-sm"><span class="icon-Arrow-right fs-18"><span class="path1"></span><span class="path2"></span></span></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="bg-lightest h-50 w-50 l-h-50 rounded text-center">
                                                                <img src="http://maximum-admin-templates.multipurposethemes.com/admin-templates/bootstrap-5/images/svg-icon/color-svg/005-paint-palette.svg" class="h-30" alt="">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="#" class="text-dark fw-600 hover-primary fs-16">Duis faucibus lorem</a>
                                                            <span class="text-fade d-block">Pharetra, Nulla , Nec, Aliquet</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="text-fade">
                                                                Lacus lacinia mollis
                                                            </span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="badge badge-warning-light">In Progress</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="#" class="btn btn-info-light btn-sm"><span class="icon-Arrow-right fs-18"><span class="path1"></span><span class="path2"></span></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="box overflow-h">
                                    <div class="box-body pb-0">
                                        <h4 class="d-block mb-0">Monthly Visits </h4>
                                        <div class="d-flex align-items-end justify-content-between">
                                            <div class="fs-30 fw-500 text-dark">74,84,840</div>
                                            <div>
                                                <div class="fs-18 fw-500 text-success">
                                                    <span>38.27%</span>
                                                    <i class="mdi mdi-arrow-up text-success ms-5"></i>
                                                </div>
                                                <div class="fs-18 fw-500 text-danger">
                                                    <span>09.84%</span>
                                                    <i class="mdi mdi-arrow-doen text-danger ms-5"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body p-0">
                                        <div class="mt-20">
                                            <div id="chart-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box-body">
                                        <div class="d-flex flex-row">
                                            <div class=""><img src="../images/avatar/avatar-2.png" alt="user" class="rounded-circle bg-success-light" width="100"></div>
                                            <div class="ps-20">
                                                <h3>Johen Doe</h3>
                                                <h6>Web Designer</h6>
                                                <button class="btn btn-info-light"><i class="ti-plus"></i> Follow</button>
                                            </div>
                                        </div>
                                        <div class="row mt-40">
                                            <div class="col b-r text-center">
                                                <h2 class="font-light">1254</h2>
                                                <h6>Photos</h6>
                                            </div>
                                            <div class="col b-r text-center">
                                                <h2 class="font-light">1254</h2>
                                                <h6>Videos</h6>
                                            </div>
                                            <div class="col text-center">
                                                <h2 class="font-light">1587</h2>
                                                <h6>Tasks</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- /.content -->
                </div>
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right d-none d-sm-inline-block">
                    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Purchase Now</a>
                        </li>
                    </ul>
                </div>
                &copy; 2021 <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights Reserved.
            </footer>

            <!-- Control Sidebar -->
            <aside class="control-sidebar">

                <div class="rpanel-title"><span class="pull-right btn btn-circle btn-danger"><i class="ion ion-close text-white" data-toggle="control-sidebar"></i></span> </div>  <!-- Create the tabs -->
                <ul class="nav nav-tabs control-sidebar-tabs">
                    <li class="nav-item"><a href="#control-sidebar-home-tab" data-bs-toggle="tab" class="active"><i class="mdi mdi-message-text"></i></a></li>
                    <li class="nav-item"><a href="#control-sidebar-settings-tab" data-bs-toggle="tab"><i class="mdi mdi-playlist-check"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane active" id="control-sidebar-home-tab">
                        <div class="flexbox">
                            <a href="javascript:void(0)" class="text-grey">
                                <i class="ti-more"></i>
                            </a>
                            <p>Users</p>
                            <a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
                        </div>
                        <div class="lookup lookup-sm lookup-right d-none d-lg-block">
                            <input type="text" name="s" placeholder="Search" class="w-p100">
                        </div>
                        <div class="media-list media-list-hover mt-20">
                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-success" href="#">
                                    <img src="../images/avatar/1.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Tyler</strong></a>
                                    </p>
                                    <p>Praesent tristique diam...</p>
                                    <span>Just now</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-danger" href="#">
                                    <img src="../images/avatar/2.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Luke</strong></a>
                                    </p>
                                    <p>Cras tempor diam ...</p>
                                    <span>33 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-warning" href="#">
                                    <img src="../images/avatar/3.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                    </p>
                                    <p>In posuere tortor vel...</p>
                                    <span>42 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-primary" href="#">
                                    <img src="../images/avatar/4.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                    </p>
                                    <p>In posuere tortor vel...</p>
                                    <span>42 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-success" href="#">
                                    <img src="../images/avatar/1.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Tyler</strong></a>
                                    </p>
                                    <p>Praesent tristique diam...</p>
                                    <span>Just now</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-danger" href="#">
                                    <img src="../images/avatar/2.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Luke</strong></a>
                                    </p>
                                    <p>Cras tempor diam ...</p>
                                    <span>33 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-warning" href="#">
                                    <img src="../images/avatar/3.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                    </p>
                                    <p>In posuere tortor vel...</p>
                                    <span>42 min ago</span>
                                </div>
                            </div>

                            <div class="media py-10 px-0">
                                <a class="avatar avatar-lg status-primary" href="#">
                                    <img src="../images/avatar/4.jpg" alt="...">
                                </a>
                                <div class="media-body">
                                    <p class="fs-16">
                                        <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                    </p>
                                    <p>In posuere tortor vel...</p>
                                    <span>42 min ago</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.tab-pane -->
                    <!-- Settings tab content -->
                    <div class="tab-pane" id="control-sidebar-settings-tab">
                        <div class="flexbox">
                            <a href="javascript:void(0)" class="text-grey">
                                <i class="ti-more"></i>
                            </a>
                            <p>Todo List</p>
                            <a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
                        </div>
                        <ul class="todo-list mt-20">
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_1" class="filled-in">
                                <label for="basic_checkbox_1" class="mb-0 h-15"></label>
                                <!-- todo text -->
                                <span class="text-line">Nulla vitae purus</span>
                                <!-- Emphasis label -->
                                <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_2" class="filled-in">
                                <label for="basic_checkbox_2" class="mb-0 h-15"></label>
                                <span class="text-line">Phasellus interdum</span>
                                <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_3" class="filled-in">
                                <label for="basic_checkbox_3" class="mb-0 h-15"></label>
                                <span class="text-line">Quisque sodales</span>
                                <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_4" class="filled-in">
                                <label for="basic_checkbox_4" class="mb-0 h-15"></label>
                                <span class="text-line">Proin nec mi porta</span>
                                <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_5" class="filled-in">
                                <label for="basic_checkbox_5" class="mb-0 h-15"></label>
                                <span class="text-line">Maecenas scelerisque</span>
                                <small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_6" class="filled-in">
                                <label for="basic_checkbox_6" class="mb-0 h-15"></label>
                                <span class="text-line">Vivamus nec orci</span>
                                <small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 month</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_7" class="filled-in">
                                <label for="basic_checkbox_7" class="mb-0 h-15"></label>
                                <!-- todo text -->
                                <span class="text-line">Nulla vitae purus</span>
                                <!-- Emphasis label -->
                                <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_8" class="filled-in">
                                <label for="basic_checkbox_8" class="mb-0 h-15"></label>
                                <span class="text-line">Phasellus interdum</span>
                                <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5 by-1">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_9" class="filled-in">
                                <label for="basic_checkbox_9" class="mb-0 h-15"></label>
                                <span class="text-line">Quisque sodales</span>
                                <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li class="py-15 px-5">
                                <!-- checkbox -->
                                <input type="checkbox" id="basic_checkbox_10" class="filled-in">
                                <label for="basic_checkbox_10" class="mb-0 h-15"></label>
                                <span class="text-line">Proin nec mi porta</span>
                                <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
                                <div class="tools">
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>

        </div>
        <!-- ./wrapper -->
        <!-- ./side demo panel -->
        <div class="sticky-toolbar">
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Buy Now" class="waves-effect waves-light btn btn-success btn-flat mb-5 btn-sm" target="_blank">
                <span class="icon-Money"><span class="path1"></span><span class="path2"></span></span>
            </a>
            <a href="https://themeforest.net/user/multipurposethemes/portfolio" data-bs-toggle="tooltip" data-bs-placement="left" title="Portfolio" class="waves-effect waves-light btn btn-danger btn-flat mb-5 btn-sm" target="_blank">
                <span class="icon-Image"></span>
            </a>
            <a id="chat-popup" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Live Chat" class="waves-effect waves-light btn btn-warning btn-flat btn-sm">
                <span class="icon-Group-chat"><span class="path1"></span><span class="path2"></span></span>
            </a>
        </div>
        <div class="container-xxl bg-">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>


        <footer class="border-top text-muted">
            <div class="container">
                &copy; 2021 - SymphonyInstitute.Ltd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js" ></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>





        @*---------------------*@


        <!-- Page Content overlay -->
        <!-- Vendor JS -->
        <script src="~/js/vendors.min.js"></script>
        <script src="~/js/pages/chat-popup.js"></script>
        <script src="~/assets/icons/feather-icons/feather.min.js"></script>

        <script src="~/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>

        <!-- Maximum Admin App -->
        <script src="~/js/jquery.smartmenus.js"></script>
        <script src="~/js/menus.js"></script>
        <script src="~/js/template.js"></script>
        <script src="~/js/pages/dashboard.js"></script>
        @*-------------------*@


        <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
        <script type="text/javascript" src="~/lib/DataTables/Responsive-2.2.9/js/dataTables.responsive.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/dataTables.buttons.min.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.colVis.min.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.print.min.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.bootstrap5.min.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.html5.min.js"></script>
        <script src="~/lib/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
        <script src="~/lib/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
        <script src="~/lib/DataTables/JSZip-2.5.0/jszip.min.js"></script>



        <script>

            $(document).ready(function () {
                var table = $('#myTable').DataTable({
                    responsive: true,
                    lengthChange: false,
                    buttons: ['excel', 'pdf', 'print', { extend: 'colvis', className: 'btn btn-primary' }]
                });

                table.buttons().container()
                    .appendTo('#myTable_wrapper .col-md-6:eq(0)');
            });
        </script>



        @RenderSection("Scripts", required: false)
    </body>
}
else
{
    <body class="bg-transparent">

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SymphonyInstitute.Ltd</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            @*@if (_signInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-danger" asp-area="" asp-controller="UsersManage" asp-action="index">User Lists</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" asp-area="" asp-controller="Administrative" asp-action="GetEnrolledDetails">Student Enrolled </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" asp-area="" asp-controller="Accounts" asp-action="UserRole">Create Admin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" asp-area="" asp-controller="Administrative" asp-action="Rolelist">Roles lists</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" asp-area="" asp-controller="CoursesEnrolleds" asp-action="index">Courses Manage</a>
                                </li>
                                <li class="nav-item ml-auto">
                                    <a class="nav-link text-danger" asp-area="" asp-controller="Accounts" asp-action="Logout">Logout</a>
                                </li>




                            }*@

                             @if (_signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-danger ml-auto" asp-area="" asp-controller="Accounts" asp-action="Logout">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" asp-area="" asp-controller="Courses" asp-action="CoursesCart">Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" asp-area="" asp-controller="Courses" asp-action="RollNoView">Voucher</a>
                                </li>



                            }

                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="StudentSignUp">SignUp</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Login">Login</a>
                                </li>


                            }







                        </ul>
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <h3 class="text-info">
                                @User.FindFirst("UserFirstName").Value @User.FindFirst("UserLastName").Value
                            </h3>
                        }
                    </div>
                </div>
            </nav>
        </header>

        <div class="container-xxl bg-">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>


        <footer class="border-top text-muted">
            <div class="container">
                &copy; 2021 - SymphonyInstitute.Ltd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>





        @*---------------------*@


        <!-- Page Content overlay -->
        <!-- Vendor JS -->
        <script src="~/js/vendors.min.js"></script>
        <script src="~/js/pages/chat-popup.js"></script>
        <script src="~/assets/icons/feather-icons/feather.min.js"></script>

        <script src="~/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>

        <!-- Maximum Admin App -->
        <script src="~/js/jquery.smartmenus.js"></script>
        <script src="~/js/menus.js"></script>
        <script src="~/js/template.js"></script>
        <script src="~/js/pages/dashboard.js"></script>
        @*-------------------*@


        <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
        <script type="text/javascript" src="~/lib/DataTables/Responsive-2.2.9/js/dataTables.responsive.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/dataTables.buttons.min.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.colVis.min.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.print.min.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.bootstrap5.min.js"></script>
        <script src="~/lib/DataTables/Buttons-2.1.1/js/buttons.html5.min.js"></script>
        <script src="~/lib/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
        <script src="~/lib/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
        <script src="~/lib/DataTables/JSZip-2.5.0/jszip.min.js"></script>



        <script>

            $(document).ready(function () {
                var table = $('#myTable').DataTable({
                    responsive: true,
                    lengthChange: false,
                    buttons: ['excel', 'pdf', 'print', { extend: 'colvis', className: 'btn btn-primary' }]
                });

                table.buttons().container()
                    .appendTo('#myTable_wrapper .col-md-6:eq(0)');
            });
        </script>



        @RenderSection("Scripts", required: false)
    </body>
}
</html>
